/*body styles*/
.body{
    margin: 0px;
}
.main-body{
    height: 800px;
    background: radial-gradient(circle farthest-corner at 200px 0, #414141,#000);
    background-position: top left;
    position: relative;
    display: grid;
    align-content: center;
    grid-template-columns: 60% 40%;
    grid-gap: 5px;
    padding: 10px;
}

.main-body> .left-side{
    text-align: left;
    color: white;
    padding-right: 300px;

}

.main-body > .left-side > .text{
    font-size: 30px;
}

.main-body > .left-side > .text > .text2{
    font-size: 35px;
}

.main-body > .left-side > .buttons{
    display: grid;
    align-content: center;
    grid-template-columns: auto auto;
}

.main-body > .left-side > .buttons > .button1 > a:link{
    background-color: green;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px
}

.main-body > .left-side > .buttons > .button2 > a:link{
    color: white;
    background-color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
    
}

.main-body > .right-side{
    align-content: left;
    padding-left: 100px;
}

.main-body > .right-side > .text{
    color: white;
}

.main-body > .right-side > .text > .codepen-link > a:link{
    color: rgba(126, 170, 221, 0.918);
    text-decoration: underline solid black;

}

.main-body > .right-side > .image{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.main-body > .right-side > .image img{
    width: 100%;
    height: 100%;
}